<igx-navbar class="navbar">
  <igx-navbar-title class="navbar-content">
    <igx-avatar src="/assets/Logo.svg" shape="circle" class="avatar"></igx-avatar>
    <button igxButton="flat" igxRipple routerLink="/home" class="button">
      Home
    </button>
    <button igxButton="flat" igxRipple routerLink="/app-builder" class="button">
      APP BUILDER
    </button>
    <button igxButton="flat" igxRipple routerLink="/app-builder/styleguide/avatar" class="button">
      APP BUILDER Styleguide
    </button>

  </igx-navbar-title>
</igx-navbar>
<div class="view-container">
  <router-outlet></router-outlet>
</div>


